mixin navigation
    header.navbar-fixed
        nav.teal.lighten-2
            .container
                .wrapper
                    a.sidenav-trigger(href="#" data-target="mobile-nav")
                        i.material-icons menu
                    ul.left.hide-on-med-and-down
                        li
                            a(href="/dashboard/" + user._id) Home
                        li
                            a(href="#") My Clients
                        li
                            a(href="#") My Tasks
                        li
                            a(href="#") Create a Task
                        li
                            a(href="#") My Team
    ul#mobile-nav.sidenav
        li
            a(href="/dashboard/" + user._id) Home
        li
            a(href="#") My Tasks
        li
            a(href="#") Create a Task
        li
            a(href="#") My Team