extends shared/_master

block body
    #login-container
    #login.z-depth-5
        form(action="/login" method="post")
            input(type="text" name="username" placeholder="Username" required)
            input(type="password" name="password" placeholder="Password" required)
            button.btn.btn-large Login