extends shared/_master

block body
    #login-container
    #login
        form
            input.z-depth-5(type="text" placeholder="Username")
            input.z-depth-5(type="password" placeholder="Password")
            button.btn.btn-large Login